@font-face {
  font-family: 'CurseCasual';
  src: url("sprites/fonts/Curse Casual.ttf");
}

* {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: url('sprites/backgrounds/background.png') no-repeat center center / cover;
  filter: blur(5px);
}

.fontPreload {
  position: absolute;
  top: 0;
  left: -100px;
  font-family: 'CurseCasual', serif;
}

canvas {
  position: relative;
  width: 100% !important;
}
